MONGO_URI=mongodb://localhost:27017
REDIS_URI=localhost:6379
JWT_SECRET=change-me
FRONTEND_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:8080

# user-service mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=
SMTP_PASSWORD=
